<ion-view view-title="Videos">
  <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
        <div ng-if="loaded">
          <div ng-repeat="videolist in video">
            <div class="list card card_height">
              <a href="#/app/VideoDetails/{{videolist.id}}" class="no_underline">
                <div class="item item-avatar card_height">
                    <img ng-src="img/pastSatsang.png">

                    <div class="leftpadding"> 
                      <h2>{{videolist.name}}</h2>
                      <p class="shortdesc1" ng-bind-html="videolist.des | externalLinks"></p>
                   </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      <div ng-if="error" class="loading-news" ng-class="{ 'clear': error}">
        {{error_message}}
      </div>
      <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
        Loading video...
      </div>

      </ion-list>
  </ion-content>
</ion-view>
