<ion-view view-title="{{video.name}}">

<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>

  <ion-content>

    <div ng-if="loaded ">
      <div ng-if="video != '' ">
        <div class="card">
            <iframe width="340" height="450" src="{{video.url | trusted}}" frameborder="0" allowfullscreen></iframe>

          <div class="item item-body">
            <span class="event-title">{{video.name}}</span>
            <p ng-if="satsang.description != ''">{{video.description}}</p>

          </div>
        </div>
      </div>
    </div>
    
    <div ng-if="error" class="loading-news" ng-class="{ 'clear': error}">
        {{message}}
    </div>
    <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
      Loading video...
    </div>

  </ion-content>
</ion-view>
