<ion-view view-title="News">
  <!-- <ion-nav-buttons side="right">
        <button class="button ion-location no_border"> Location
        </button>
</ion-nav-buttons> -->
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>
  <ion-content>
    <ion-list>
  <div ng-if="loaded" ng-repeat="news in newslist track by news.id">
  <div class="list news-list" >

   <!-- <a href="#/app/newsDetails/{{news.id}}" class="no_decoration"> -->
  <div class="item">
    <!-- <img ng-if="news.image != '\/app\/webroot\/files\/news\/image_name\/\/small_'" ng-src="http://app.ourvadodara.com/actonation{{news.image}}">
    <img ng-if="news.image == '\/app\/webroot\/files\/news\/image_name\/\/small_'" ng-src="img/no-img.png">
   <img ng-src="http://localhost/Projects/News/actonation{{news.image}}"> -->
    <div class="news-details"> 
    <h2 class="color-blue" ng-bind-html="news.title | externalLinks"></h2>
    <p> <i class="ion-clock"></i> <span> {{ news.created | amDateFormat:'ddd, Do  MMMM , YYYY'}}</span></p>
    <p ng-bind-html="news.detail | externalLinks"></p>
   </div>
  </div>
</a>
</div>
</div>

    </ion-list>
    <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
      {{error_message}}
    </div>
    <ion-infinite-scroll
      ng-if="!moredata"
      on-infinite="loadMore()"
      distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
