<ion-view view-title="Forgot Password">
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>
<ion-content>
<!-- <CENTER> -->
	<CENTER><span class="item item-thumbnail-center list1" href="#">
			<img src="img/logo.png">      
		</span></CENTER>
<form name="userForm" class="" ng-model="user" novalidate>
	<div class="small-form-container login-form-container">
		
	    <label class="item item-input item-stacked-label">
	      <span class="input-label">Enter your Email Address here to <br>recieve new password </span>
	      <input tabindex="1" type="email" text-align="center" class="input-filter form-control ng-scope ng-pristine ng-valid" name="email" ng-model="user.email" placeholder="you@mail.com" required>               
	      <div ng-show="userForm.email.$error.email && !userForm.email.$pristine" class="help-block validate">Enter a correct email address.</div>
    </label>
		
		<div class="row">
		    
		<div class="col">
			<button ng-click="send_mail()" class="button button-block button-assertive button-sign-in" ng-disabled="userForm.$invalid">
				<span class="ion-log-in icon-left icon-pad"></span>
				Send Mail
			</button>
		</div>
  	</div>
	<div class="padding"></div>
	<!-- <center><div id="ajaxloader" hidden=true></div></center> -->
</form>
<!-- </CENTER> -->
</ion-content>
</ion-view>

