<ion-view view-title="Login">

<ion-content>
<!-- <CENTER> -->
	<CENTER><span class="item item-thumbnail-center list1" href="#">
			<img src="img/logo.png">      
		</span></CENTER>
<form name="userForm" class="" ng-model="user" novalidate>
	<div class="small-form-container login-form-container">
		
	    <label class="item item-input item-stacked-label">
	      <span class="input-label">Email</span>
	      <input tabindex="1" type="email" text-align="center" class="input-filter form-control ng-scope ng-pristine ng-valid" name="email" ng-model="user.email" placeholder="you@abcmail.com" required>               
	      <div ng-show="userForm.email.$error.email && !userForm.email.$pristine" class="help-block validate">Enter a correct email address.</div>
    </label>
		<label class="item item-input item-stacked-label">
	      <span class="input-label">Password</span>
	      <input tabindex="2" type="password" text-align="center" placeholder="Minimum 6 Characters" class="input-filter form-control ng-scope ng-pristine ng-valid" name="password" ng-model="user.password" ng-minLength="4" maxLength="20" data-ng-class="{'ng-invalid':userForm.confirmpassword.$error.match}" required>              
	      <div ng-show="userForm.password.$error.minlength" class="help-block validate" style="color:red">Password should be minimum 4 characters.</div>
	      <div ng-show="userForm.password.$error.maxlength" class="help-block validate">Password should be maximum 20 characters.</div>
    </label>
		<div class="row">
		    
		<div class="col">
			<button ng-click="login()" class="button button-block button-assertive button-sign-in" ng-disabled="userForm.$invalid">
				<span class="ion-log-in icon-left icon-pad"></span>
				LOGIN
			</button>
			<!-- <button class="button button-block button-assertive button-sign-in-fb" ng-click="signin_google()">
				<span class="ion-social-google icon-left icon-pad"></span>
				SIGN IN WITH GOOGLE
			</button>
			<button class="button button-block button-positive button-sign-in-fb" ng-click="signin_facebook()">
				<span class="ion-social-facebook icon-left icon-pad"></span>
				SIGN IN WITH FACEBOOK
			</button> -->
			<button class="button button-block button-assertive" ng-click="registrationpagelink()">
				<span class="ion-person icon-left icon-pad"></span> 
				NEW MEMBER? SIGN UP
			</button>
			<a ui-sref="app.forgotPassword" class="forgot-password-link">Help! I forgot my password</a>
		</div>
  	</div>
	<div class="padding"></div>
	<!-- <center><div id="ajaxloader" hidden=true></div></center> -->
</form>
<!-- </CENTER> -->
</ion-content>
</ion-view>

