<ion-view view-title="Sign Up or Login">

<ion-content class="white-bg">
<!-- <CENTER> -->
	<CENTER><span class="item item-thumbnail-center list1" href="#">
			<img src="img/logo.png">      
		</span>
		<br/><br/>
		<p class="status-message">
			Sorry, you need to be a member to access this section. Please sign up as a member or login if existing member with the buttons below.
		</p>
	</CENTER>
	<div cass="row">
		<div class="col col-50">
			<button ui-sref="app.register" class="button full-width button-outline button-assertive">
			  Sign Up
			</button>
		</div>
		<div class="col col-50">
			<button ui-sref="app.login" class="button full-width button-outline button-assertive">
			  Log In
			</button>
		</div>
	</div>

<!-- </CENTER> -->
</ion-content>
</ion-view>

