<ion-view view-title="Register">
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>
<ion-content class="" style="">
<CENTER>  <span class="item item-thumbnail-center list1" href="#">
      <img src="img/logo.png">      
  </span></CENTER>
<!-- <CENTER> -->
<form name="userForm" class="" ng-model="user" novalidate>
  <div class="small-form-container login-form-container">
    
    <label class="mandatory">All fields with an * are required.</label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">First Name<i style="color:red;">*</i></span>
      <input type="text" placeholder="" class="form-control ng-scope ng-pristine ng-valid" name="first_name" ng-model="user.first_name" ng-minlength="3" ng-maxlength="50" required>               
      <div ng-show="userForm.first_name.$error.minlength" class="help-block validate">First name should be minimum 3 characters.</div>
      <div ng-show="userForm.first_name.$error.maxlength" class="help-block validate">First name should be maximum 50 characters.</div>
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Last Name<i style="color:red;">*</i></span>
      <input type="text" placeholder="" class="input-filter form-control ng-scope ng-pristine ng-valid" name="last_name" ng-model="user.last_name" ng-minlength="3" ng-maxlength="50" required>               
      <div ng-show="userForm.last_name.$error.minlength" class="help-block validate">Last name should be minimum 3 characters.</div>
      <div ng-show="userForm.last_name.$error.maxlength" class="help-block validate">Last name should be maximum 50 characters.</div>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Email<i style="color:red;">*</i></span>
      <input type="email" text-align="center" class="input-filter form-control ng-scope ng-pristine ng-valid" name="email" ng-model="user.email" placeholder="you@abcmail.com" ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required>               
      <div ng-show="userForm.email.$error.email && !userForm.email.$pristine && userForm.email.$error.pattern" class="help-block validate">Enter a correct email address.</div>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Mobile<i style="color:red;">*</i></span>
      <input type="tel" text-align="center" placeholder="10 Digit mobile number" class="input-filter form-control ng-scope ng-pristine ng-valid" name="mobile" ng-model="user.mobile" ng-pattern="/^[\+]?(\d\-?){7,12}\d$/" required>
      <div ng-show="userForm.mobile.$error.pattern && !userForm.mobile.$pristine" class="help-block validate">Enter a valid mobile number</div>
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Password<i style="color:red;">*</i></span>
      <input type="password" text-align="center" placeholder="Minimum 6 Characters" class="input-filter form-control ng-scope ng-pristine ng-valid" name="password" ng-model="user.password" ng-minLength="4" maxLength="20" data-ng-class="{'ng-invalid':userForm.confirmpassword.$error.match}" required>              
      <div ng-show="userForm.password.$error.minlength" class="help-block validate" style="color:red">Password should be minimum 4 characters.</div>
      <div ng-show="userForm.password.$error.maxlength" class="help-block validate">Password should be maximum 20 characters.</div>
    </label>
    <!-- <label class="item item-input item-stacked-label">
      <span class="input-label">Confirm your Password</span>
      <input tabindex="3" type="password" text-align="center" placeholder="Re-enter your password" class="input-filter form-control ng-scope ng-pristine ng-valid" name="confirmpassword" ng-model="user.confirmpassword" ng-minLength="6" maxLength="20" data-match="user.password" required>                  
      <div ng-show="userForm.confirmpassword.$error.match" class="help-block validate">Passwords should match</div>
    </label> -->

    <label class="item item-input item-stacked-label">
      <span class="input-label">Address Line 1<i style="color:red;">*</i></span>
      <input tabindex="0" type="text" placeholder="" class="form-control ng-scope ng-pristine ng-valid" name="adress_line_1" ng-model="user.address_line_1" required>               
    </label>

     <label class="item item-input item-stacked-label">
      <span class="input-label">Address Line 2<i style="color:red;">*</i></span>
      <input tabindex="0" type="text" placeholder="" class="form-control ng-scope ng-pristine ng-valid" name="adress_line_2" ng-model="user.address_line_2" required>               
    </label>

     <label class="item item-input item-stacked-label">
      <span class="input-label">Address Line 3</span>
      <input tabindex="0" type="text" placeholder="" class="form-control ng-scope ng-pristine ng-valid" name="adress_line_3" ng-model="user.address_line_3">               
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">City<i style="color:red;">*</i></span>
      <input tabindex="0" type="text" placeholder="" class="form-control ng-scope ng-pristine ng-valid" name="City" ng-model="user.City" required>               
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">State<i style="color:red;">*</i></span>
      <input tabindex="0" type="text" placeholder="" class="form-control ng-scope ng-pristine ng-valid" name="State" ng-model="user.State" required>               
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Country<i style="color:red;">*</i></span>
      <input tabindex="0" type="text" placeholder="" class="form-control ng-scope ng-pristine ng-valid" name="Country" ng-model="user.Country" required>               
    </label>

    <label class="item item-input item-stacked-label">
      <span class="input-label">Zip Code</span>
      <input tabindex="0" type="number" placeholder="" class="form-control ng-scope ng-pristine ng-valid" name="zip_code" ng-model="zipcode" value="">               
    </label>

     <!--  <div class="row">
     
     <label class="checkbox">
       <input type="checkbox" ng-model="userForm.item.checked" ng-checked="userForm.item.checked" required>
     </label>
     
     <div class="col" style="margin-top:5px;">
      <span>I agree to the <a class="app-link" ng-click="showTermsandConditions();$event.preventDefault()" href="#">terms and conditions</a></span>
      </div>
      </div> -->
     <!--  <div ng-show="userForm.item.checked.$error.checked" class="help-block validate">Please accept terms and conditions</div> -->
    <!-- <ion-checkbox class="" ng-model="item.checked" ng-checked="item.checked" required>I agree to the
      </ion-checkbox> -->

    <!--   <a ng-click="showVINinfo();$event.preventDefault()" href="#">Terms and conditions</a> -->
      <div class="col">
        <button class="button button-block button-assertive" ng-click="register()" ng-disabled="userForm.$invalid" submit="">
          REGISTER
        </button>
      </div>
    </div>
    
  </div>
 <!--  <div class="padding"></div> -->
  <!-- <center><div id="ajaxloader" hidden=true></div></center> -->
</form>
<!-- </CENTER> -->
</ion-content>
</ion-view>
