<ion-view view-title="">
<!-- <ion-nav-back-button>
</ion-nav-back-button> -->
<ion-nav-bar>
    <ion-nav-back-button class="button-icon button-clear ion-ios7-arrow-left">
    </ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="has-header1">
    <ion-list>
    
      <div ng-if="loaded">
      <div class="item item-body eventBanner">
    	<!-- <img class="full-image" ng-src="http://localhost/Projects/vitraagvigyaan{{eventlist.banner}}"> -->
      <img class="full-image" ng-src="{{image_url}}{{eventlist.banner}}">
    	</div>
    	<div class="item item-body">        
    		<span ng-bind-html="eventlist.name | externalLinks" class="event-title"></span>




    		<div class="">
	    		<!-- <p>{{eventlist.shortdes}}</p> -->

           <div ng-if="eventlist.lat != ''" class="event-row">

            <div class="row">
              <div class="col col-10"> 
                <i style="font-size: 22px; color: #bbb;" class="ion-map"></i>
              </div>
              <div class="col col-90 contact-content">
                 <span style="display:block; font-size:12px; font-weight:bold; text-transform:uppercase; ">
                    <a href="#/app/maps/{{eventlist.lat}}/{{eventlist.lng}}/{{eventlist.name}}" class="">
                      View Location </a>  
                  </span>
              </div>
            </div>

            
              <span class="small">   </span>
            </a>
          </div>

<!-- 
          <div ng-if="eventlist.to_date == ''" class="event-row">
            <span class="small"><i class="ion-calendar"></i>   </span>
          </div> -->

           <div ng-if="eventlist.to_date == ''" class="">
            <div class="row">
              <div class="col col-10"> 
                <i style="font-size: 22px; color: #bbb;" class="ion-calendar"> </i>
              </div>
              <div class="col col-90 contact-content">
                 <a href="" ng-click="addEvent(eventlist)" style="display:block; font-size:12px; font-weight:bold; text-transform:uppercase;text-decoration:none; ">{{eventlist.from_date | amDateFormat:'Do  MMM, YYYY'}} </a>
                 <button class="button button-small button-royal activated" style="width:195px;" ng-click="addEvent(eventlist)">ADD TO CALENDAR</button>
              </div>
            </div>
          </div>

          <div ng-if="eventlist.to_date != ''" class="">
            <div class="row">
              <div class="col col-10"> 
                <i style="font-size: 22px; color: #bbb;" class="ion-calendar"> </i>
              </div>
              <div class="col col-90 contact-content">
                 <a href="" ng-click="addEvent(eventlist)" style="display:block; font-size:12px; font-weight:bold; text-transform:uppercase;text-decoration:none; ">{{eventlist.from_date | amDateFormat:'Do  MMM, YYYY'}} -
 {{eventlist.to_date | amDateFormat:'Do  MMM, YYYY'}} </a>
                <button class="button button-small button-royal activated" style="width:195px;" ng-click="addEvent(eventlist)">ADD TO CALENDAR</button>
              </div>
            </div>
          </div>

          <div class="row">
              <div class="col col-10"> 
                <i style="font-size: 22px; color: #bbb;" class="ion-clock"></i>
              </div>
              <div class="col col-90 contact-content">
                 <span style="display:block; font-size:12px; font-weight:bold; text-transform:uppercase; ">{{eventlist.time}} </span>
              </div>
          </div>

          <div class="row">
              <div class="col col-10"> 
                <i style="font-size: 22px; color: red;" class="ion-clipboard"></i>
              </div>
              <div class="col col-90 contact-content">
                 <span style="color:red;display:block; font-size:12px; font-weight:bold; text-transform:uppercase; "> Last Registration Date {{ eventlist.last_reg_date | amDateFormat:'dddd, MMMM D, YYYY'}} </span>
              </div>
          </div>

          <div class="row">
              <div class="col col-10"> 
               <i style="font-size: 26px; color: #bbb;" class="ion-location venue"></i>
              </div>
              <div class="col col-90 contact-content">
                 <span style="display:block; font-size:12px; font-weight:bold; text-transform:uppercase; ">{{eventlist.address_line1}} , {{eventlist.address_line2}} , {{eventlist.address_line3}} , {{eventlist.city_name}}.</span>
              </div>
          </div>

          <!-- <span style="display:block;" class="last_regis small"></i></span> -->
	    		
	    		<!-- <p>{{eventlist.country_name}}.</p> -->
    		</div>
        </div>
    	<div class="item item-body">
    		<p ng-bind-html="eventlist.long_desc | externalLinks"></p>
		</div>

    <div ng-if="eventlist.guests != ''">
		<div class="item item-icon-left font_bold">
		    <i class="icon ion-person-stalker"></i>
		    Guests
	  	</div>
	  	
      <div class="item item-thumbnail list_guest" style="">
      <div ng-repeat="guest in eventlist.guests track by $index" class="eventdetaildesc_detail2" >
        
          <!-- <img ng-src="http://localhost/Projects/vitraagvigyaan{{guest.guest_image}}" style="border-radius:5px;"> -->
          <img ng-if="guest.guest_image == ''" ng-src="img/default_profile.jpg" style="border-radius:5px;">
          <img ng-if="guest.guest_image != ''" ng-src="{{image_url}}{{guest.guest_image}}" style="border-radius:5px;">
          <p class="eventdetaildesc_detail_p">{{guest.name}}</p>
          <p class="eventdetaildesc_detail_p1">{{guest.guest_designation}} , {{guest.guest_organization_name}} </p>
        </div>

      </div>
    </div>

    <div class="item item-icon-left font_bold">
        <i class="icon ion-compose"></i>
        Organizer
    </div>
     <!-- <div class="item organizerdesc_detail"> -->
    <div class="item item-thumbnail-left organizerdesc_detail">
      <img ng-if="eventlist.file == ''" ng-src="img/default_profile.jpg" class="organizer_image">
      <img ng-if="eventlist.file != ''" ng-src="{{image_url}}{{eventlist.file}}" class="organizer_image">
      <h2>{{eventlist.organization_name}}</h2>
      <p>{{eventlist.contact_name}}</p>
      <p>{{eventlist.short_description}}</p>
      <p>{{eventlist.mobile}}</p>
      <br>
    </div>
    
   <!--Slider-->
    <div ng-if="eventlist.media != ''">


      <div class="item item-icon-left media_border">
        <i class="icon ion-images font_bold"></i>
        Gallery
      </div>

  <div class="item">
    <div animation="slide-left-right-ios7" class="slider_margin">
     <ion-slide-box on-slide-changed="slideHasChanged($index)" show-pager="true" pager-click="navSlide(index)" auto-play="true" does-continue="true" ng-if="eventlist.media" ng-click="moveTo()">
    <ion-slide ng-repeat="media in eventlist.media track by $index">
      <div class="box blue">
        <!-- <img ng-src="http://localhost/Projects/vitraagvigyaan{{media.media_image}}"> -->
        <img ng-src="{{image_url}}{{media.media_image}}">
        <div ng-if="media.media_caption != ''"><h3 class="img-caption">{{media.media_caption}}</h3></div>
        <br><br>
       <!--  <p>{{events.from_date}} {{events.time}}</p> -->
      </div>
    </ion-slide>
    <!-- <ion-slide>
      <div class="box yellow"><h1>YELLOW</h1></div>
    </ion-slide>
    <ion-slide>
      <div class="box pink"><h1>PINK</h1></div>
    </ion-slide> -->
  </ion-slide-box>
</div>
</div>
</div>
   <!--Slider-->
    </div>

    <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
      Loading event details...
    </div>
    <div ng-if="error" class="loading-news" ng-class="{ 'clear': error}">
      Sorry couldn't load the event details. Please try again later or check your internet connection.
    </div>


    </ion-list>
  </ion-content>
</ion-view>
