<ion-view view-title="Events">
<!-- <ion-nav-buttons side="right">
        <!-- <button class="button ion-android-locate no_border"> Location
        </button> -->
        <!-- <a href="" ng-click="getCityByGeo()" ><i class="ion ion-android-locate icon_location_refresh"></i></a> -->
</ion-nav-buttons> -->
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
  </ion-nav-buttons>
    <div class="tabs-striped tabs-top tabs-background-assertive tabs-background-blue tabs-color-light">
    <div class="tabs">
        <a class="tab-item active" ng-class="{'active': selection === 'current'}" ng-click="switchEvents('current')" >
          This Week
        </a>
        <a class="tab-item" ng-class="{'active': selection === 'upcoming'}" ng-click="switchEvents('upcoming')" >
          Upcoming
        </a>
        <a class="tab-item"   ng-click="switchEvents('past', selectedCity)" >
          Past
        </a>
      </div>
    </div>
  <ion-content>
    
      <!-- <ion-item ng-repeat="playlist in eventlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->    
    <div class="events-list">
      <br>
      <ion-list>
        <div ng-if="!loaded">
          <h3 class="no_events">Loading events...</h3>
        </div>
        <div ng-if="(eventlist == '' || eventlist.length === 0) && loaded">
          <h3 class="no_events">No Events available under this category.</h3>
        </div>
        <div ng-if="eventlist != ''">
          <div ng-repeat="event in eventlist" class="card_height">
            <div class="list card">
              <a href="#/app/EventDetails/{{event.id}}" class="no_underline">
                <div class="item item-avatar">
                  <!-- <img ng-src="http://localhost/Projects/vitraagvigyaan{{event.banner}}"> -->
                  <img ng-src="{{image_url}}{{event.banner}}">
                  <div class="leftpadding"> 
                  <h2>{{event.name}}</h2>
                  <h3 class="shortdesc">{{event.shortdes}}</h3>
                  <span class="event-status">{{event.time}} {{event.from_date | amDateFormat:'Do  MMMM, YYYY'}} </span>
                 </div>
                </div>

              </a>
            </div>
          </div>
        </div>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
