<ion-view view-title="Past Events">
<ion-nav-buttons side="right">
        <!-- <button class="button ion-location no_border"> Location
        </button> -->
        <a href="" ng-click="" ><i class="ion ion-android-locate icon_location_refresh"></i></a>
</ion-nav-buttons>
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>

 <ion-content>
    
      <!-- <ion-item ng-repeat="playlist in eventlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item> -->

      

  <div class="list">

    <label class="item item-input item-select">
      <div class="input-label">
        Select City
      </div>
      <select ng-model="selectedItem" 
            ng-options="city as city for city in citylist"
            ng-change="update(selectedItem)">
             <option value=""></option>

          </select>
             
    </label>
   <!--  <pre>Selected city {{selectedItem}}</pre> -->

</div>

<div class="tabs-striped tabs-top tabs-background-assertive tabs-color-light">
    <div class="tabs">
      <a class="tab-item" href="#/app/Events">
       <!--  <i class="icon ion-home"></i> -->
        Current 
      </a>
      <a class="tab-item" href="#/app/UpcomingEvents">
       <!--  <i class="icon ion-home"></i> -->
        Upcoming
      </a>
      <a class="tab-item active" href="#/app/PastEvents">
        <!-- <i class="icon ion-gear-a"></i> -->
        Past
      </a>
    </div>
  </div>
  <ion-list>
  <br>
  <div ng-if="eventlist == '' ">
    <h3 class="no_events">No Events</h3>
  </div>
  <div ng-if="eventlist != ''">

  <div ng-repeat="event in eventlist" class="card_height">
  <div class="list card">
   <a href="#/app/EventDetails/{{event.id}}" class="no_underline">
  <div class="item item-avatar">
    <!-- <img ng-src="http://localhost/Projects/vitraagvigyaan{{event.banner}}"> -->
    <img ng-src="{{image_url}}{{event.banner}}">
    <div class="leftpadding"> 
    <h2>{{event.name}}</h2>
    <h3 class="shortdesc">{{event.shortdes}}</h3>
    <p>{{event.from_date}} {{event.time}}</p>
   </div>
  </div>

</a>
</div>
</div>
</div>
    </ion-list>
  </ion-content>
</ion-view>
