    /* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*.icon-google-wallet:before {
    font-family: "fontawesome";
    content: "\f1ee";
}*/

.color-red {
    color:rgb(237, 28, 36);
}
.color-blue{
    color: #285CB0;
}
.icon-location-arrow:before {
    font-family: "fontawesome";
    content: "\f1ee";
}

.item-avatar > img:first-child, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
position: absolute;
top: 16px;
left: 14px;
max-width: 100px;
max-height: 66px; 
width: 100%;
border-radius: 5%;
}

.pane{
    background-color: #EEE !important;
}

.item-body h2,
.item-body p {
    margin-top: 0;
}

.bar.bar-stable {
    border-bottom:0;
}
.item-link-container{
    text-decoration:  none;
    display: block;
}
.item-link-container:hover{

}

.item-select{
    box-shadow: 0 0px 20px 0px #ccc;    
}
.item-link{
    color: #666;
    text-decoration: none;
    font-size: 12px;
    display: block;
}

.card_height{
    height:95px;
}

.no_border{
    border:none !important;
}
.item-image{
    border: 1px #DDD solid;
}
.item-title{
    font-weight: bold;
    height: 40px;
    text-decoration: none;
    max-height: 40px;
    overflow: hidden;
    font-size: 13px;
    display: block;
    color: #444;
}
.item-description{
    font-size: 12px;
}

.bar.bar-stable .title{
    /*text-align: left;*/
    /*margin-left: -40px;*/
}

.items-container{
    padding: 10px 10px;
}

.img-fixed-height img{
    height: 120px;
}
.leftpadding
{
    padding-left: 60px;
}

.eventdetails p{
    margin-top: -15px !important;
}

.eventdetailsborder h2{
    margin-top: 0px !important;
}

.eventdetailsborder{
    border: 1px solid rgb(215, 215, 215);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px; 
    background: rgba(245, 245, 245, 0.4);
}

.eventBanner{
    border-bottom: none;
}

.eventdetailsdesc h2{
    margin-top: 0px !important;
    /*margin-left: 15px;
    margin-right: 15px;
    border-left: none;
    border-right: none;*/
}

.eventdetailsdesc{
   
    margin-left: 15px;
    margin-right: 15px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.eventdesc{
    border: 1px solid rgb(215, 215, 215);
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px; 
    background: rgba(245, 245, 245, 0.4);
}

.eventdesc p{
    margin-top: 0px !important;
}

.eventdetaildesc_detail2{
    display:inline-block;
    margin-left:0px;
    white-space: normal;
    /*width: 30%;*/
    width: 160px;
}

.list_guest{
    white-space:normal !important;
    border-top: none;
}

.organizerdesc{
    margin-left: 15px;
    margin-right: 15px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.organizer_image{
    top: 3px;
    left: 22px;
    border-radius: 5px;
}

.eventdetaildesc_detail1{
    padding: 0px;
    border:none;
}

.eventdetaildesc_detail_p{
    margin-bottom: 0px !important;
}

.eventdetaildesc_detail_p1{
    margin-bottom: 18px !important;
    color: #666;
}

.media_border{
    border-bottom: none;
}

.organizerdesc_detail{
    border-top: none;
   /* left: 11px;
    top: -5px;*/
}

.organizerdesc_detail p{
    margin: 0px;
}

.img-caption{
    font-size: 12px !important;
    text-align: center !important;
    font-weight: 100 !important;
    color:#666 !important;
    font-style: italic !important;
}

.font_bold{
    font-weight: bolder;
}

.eventdetails h2{
    margin-bottom: 10px;
}
.white-bg{
    background-color: #FFF;
}

.full-width{
    width:100%;
}

.col-50{
    width: 50%;
    float:left;
}

.last_regis{
    color: red;
}

.shortdesc{
    font-size: 14px !important;
    font-weight: 100 !important;
    color:#666 !important;
    font-style: italic !important;
}

.has-header1{
    margin: 15px;
}

.no_underline{
    text-decoration: none;
}

.map{
    text-decoration: none;
    float: right;
    color: red; 
}

/*Slider*/

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 30px;
  color: #000;
  background-color: #fff;
  /*width: 100%;*/
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  /*font-weight: 300;*/
}

.slider-slide img{
    width: 90%;
}
.blue {
  background-color: transparent;
  overflow: hidden;
}

.yellow {
  background-color: yellow;
}

.pink {
  background-color: pink;
}

/*Google Maps*/
.angular-google-map-container { height: 850px; }
.google-map-marker-label{
    
}

.ion-location1{
    font-size: -webkit-xxx-large;
}

.venue{
    font-size: larger;
    color: black;
}

.no_events{
    text-align: center;
    font-size: medium;
    color: grey;
    padding-top: 40px;
}

.h1_size{
    /*font-size: 30px !important;*/
font-size: 25px !important;}

/*FORM*/

*{

}
.add-car-bg{
    background-color: #000;
    background-image: url('../img/car_img.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.add-car-form, .small-form{
    margin-left:20px;
    margin-right:20px;
    opacity:0.95;
    margin-top:30px;
}
.add-car-form-container, .small-form-container{
    background-color: #FFF;
    width:100%;
    padding:5px;
    padding-top:15px;
}
.small-form-container.login-form-container,.small-form-container.no-car-container{
    height:auto;
}
.no-car-container .item.item-text-wrap{
    border:none;
}
.add-car-form input[type="text"], .small-form input[type="text"], .small-form input[type="email"], .small-form input[type="password"]{
    border-bottom: 1px #CCC solid;
    margin-right: 50px;
}
.add-car-form label,.small-form label{
    border:0;
    padding-right: 18px;
}
.add-car-or{
    text-transform:capitalize;
    font-size:25px;
    padding:20px 20px 20px 15px;
    text-align: left;
    color:#CCC;
}
.btn-content.add-button-center{
    text-align: left;
    padding-top: 3px;
    font-weight: bold;
    padding-left:15px;
    text-transform: uppercase;
}
.uppercase{
    text-transform: uppercase;
}
.add-car-link{
    display:block;
    width:100%;
    font-size: 14px;
    text-align: center;
}
.add-car-link a{
    color:#EEE;
    text-shadow: 0 0 20px #000;
    text-decoration: none;
    
}
.find-vin-image{
    display: block;
    width:100%;
    margin-bottom: 10px;
}
.popup-title{
    font-weight:bold;
}
.popup .content{
    font-size:13px;
    text-align: justify;
}
.popup-head{
    padding-bottom: 0px;
}
.popup{
    width:85% !important;
}
.bar .title{
    font-weight: bold;
    /*font-size:12px;*/
}
ion-side-menu .list .item-content, ion-item i{
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
    color:#444;
}
ion-side-menu .list .list i, ion-side-menu .list .list .item-content{
    font-size:12px;
}
.login-form .item-thumbnail-center.list1{
    border:0 !important;
}
.black-bg{
    background-color: #000;
}
.login-form button, .no-car-form button{
    padding-top: 3px;
    font-weight: bold;
    font-size:13px;
    text-transform: uppercase;
}
.no-car-img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
#no-car-msg{
    text-align: center;
    font-size: 13px !important;
    color:#444;
    margin-left: 30px;
    line-height: 170%;
    margin-right: 30px;
    display:block;
}
.global-google-map{
    height:200px;
    width: 300px;
    background-color:red;
}
.angular-google-map-container{
   /* position:fixed !important;*/
    /*top:10px;*/
    bottom:0;
    left:0;
    right:0;
    z-index:99999;
    max-height: 250px;
    /*bottom: 200px;*/
}
.google-map-marker-label{
    background-color: #FFF;
    text-align: center;
    border-radius:5px;
    opacity:0.9;
    width:80px;
    margin-left:-100px !important;
    margin-top:-100px !important;
    margin-top:;
    height:40px;
    color: #555;
    font-weight: thin;
    /*padding: 10px;*/
    /*padding-top:7px;*/
    box-shadow: 0 0 2px #666;
}

/*News*/

.news-list{
    margin: 15px;
    box-shadow: red;
    border-radius: 5px;
    /* box-shadow: 10px 10px 5px #888888; */
    /*box-shadow: 0px 0px 5px 3px #d7d7d7;*/
    box-shadow: 1px 1px 3px 0px #d7d7d7;
}

.news-details h2{
    margin-bottom: 10px;
    white-space: normal !important; 
    font-weight: 600;
    font-size: medium;
}

.news-details p{
    color: #222;
    font-weight: normal;
    margin-bottom: 10px;
    white-space: normal !important; 
}

.news-details p span{
    color: #888;
    font-weight: bold;
    font-size: 12px;
}

.news-details p i {
    color: #888;
    font-size: 12px;    
}


/*COntact US*/

.location_icon_color{
    color: rgb(102, 102, 102);
}

.contact-us{
    margin: 10px;
    margin-left: 5px !important;
}

.contact-us i{
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 4px;
}

.contact-us-add{
    margin-left : 15px;
}

/*Events*/

.icon_location_refresh{
    font-size: x-large;
    margin: 4px;
    color: rgb(65, 60, 60);
}

.h2_size{
    font-size: 14px !important;
    margin-bottom: 10px !important;
}

/**************/

.common-main-img {
    background-size: contain;
    max-height: 160px;
    margin: 10px auto;
    display: block;
}

.font_bold i {
    font-size: 20px;
    position: relative;
    top: 2px;
}

.com-list-menu {
    text-transform: uppercase; 
    font-weight: bold;
    font-size: 16px;   
}

.contact-icon{
    display: block;
    font-size: 25px;
    margin:auto;
    text-align: center;
    color: #bbb;
}

.contact-content{
    padding-left: 15px;
}
.contact-content-top{
    margin-top:0;
    padding-left: 14px;
}

p.small {
    font-size: 12px;
    color:rgb(237, 28, 36);   
}

.event-status {
    font-size: 12px;
    color: #999;
}

.sidebar-menu i {
    font-size: 25px;
    position: relative;
    top: 4px;
    margin-right: 8px;
}

.event-title {
    font-size: 22px !important;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 10px;
}

.event-row {
    display: block;
    margin-bottom: 10px;
}

span.small {
    font-size: 12px;
}

.event-row a {
    color: inherit;
    text-decoration: none;
}

.bottom-menu{
    display:block;
    padding-top: 0px !important;
}
.bottom-menu ion-item{
    border: 0 !important;
}

.bottom-menu ion-item .ion{
    font-size:14px;
    top:0;
    color: #FFF;
}
.bottom-menu ion-item .com-list-menu{
    font-size:14px;
    color: #FFF;
}
.sidebar-menu ion-item .ion{
    color: #FFF;
}
.sidebar-menu ion-item .com-list-menu{
    color: #FFF;
}
.menu,.sidebar-menu ion-item{
    border:0 !important;
}
.sidebar-menu ion-item a{
    background-color: #2460C1 !important;
}
.sidebar-menu ion-item a:hover{
    background-color: #2B69CE !important;
}
.menu,.sidebar-menu ion-item{
    background-color: #1C4D9A !important;
}


.bar-stable{
    box-shadow: 0 -2px 15px #CCC;
}
/*.bar-stable .title{
    color: #FFF !important;
}*/
.menu .bar-stable .title{
    text-align: left !important;
    color: #FFF !important;
}
.menu .bar-stable{
    background-color: #1C4D9A !important;
    box-shadow: none !important;
}
/*.bar-stable .button{
    color: #FFF !important;
}*/
.help-block.validate{
    color: #CF3114;
    font-size: 12px;
}
.item-thumbnail-center{
    border: 0 !important;
}
.contact-title{
    color: #666;
    font-weight: bold;
    font-size: 18px !important;
}
.sidebar-menu ion-item{
    padding: 7px 15px !important;
}
.sidebar-menu ion-item a{
    padding: 7px !important;
    border: 1px #1C56B2 solid;
    border-radius: 2px;
    padding-left: 12px !important;
}
.bottom-menu ion-item{
    padding-left: 15px !important;
}
.bottom-menu ion-item a{
    border: 0 !important;
    background-color: #1C4D9A !important;
}
.bottom-menu ion-item a:hover{
    background-color: #1C4D9A !important;   
}
.sidebar-menu ion-item .ion{
    font-size: 15px !important;
    top:0 !important;
}
.sidebar-menu ion-item span{
    font-size: 13px !important;
}
.sidebar-logo{
    background-color: #10336B !important;
    margin-bottom: 10px !important;
}
.sidebar-logo span, .sidebar-logo img{
    display: block;
    height:60px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.tabs-background-blue .tabs{
    background-color: #1C4D9A !important;
    border-color: #1C4D9A !important;
}
.sidebar-menu{
}

.loading-news{
    /*position:relative;
    height:30px;
    width:30px;*/
    /*background-image: url('../img/auth-info-loader.gif') ;*/
    background-position:  center center;
    background-repeat: no-repeat;
    padding-top:50px;
    /*left:50%;*/
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
}
.loading-news.clear{
    background-image: none !important;
    text-align: center;
    font-size:12px;
    color:#666;
    line-height:18px;
    width: 100% !important;
    left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top:50px !important;
}

/******Satsang******/

.shortdesc1{
    font-size: 14px !important;
    font-weight: 100 !important;
    color:#666 !important;
    font-style: normal !important;
}

.icon-display i{
    font-size: 22px;
    color: #bbb;
    margin-left: -10px;
}
.contact-content span{
    display:block;
    font-size:12px; 
    font-weight:bold; 
    text-transform:uppercase; 
}
.announcement_header{
    font-weight: 500;
    font-size: 18px;
}
.announcement p{
    padding-bottom:16px;border-bottom:1px solid rgb(180, 180, 180);
}
.announcement1:last-child{
    margin-bottom: -18px;
}

.contact-wrapper a{
    text-decoration: none;
    color: #666;
}
.events-list{
    padding-top:25px;
}
.forgot-password-link{
    width:100%;
    display:block;
    color: #444;
    text-align: center;
    text-decoration: none;
    padding-top:15px;
    color: #e42012;
    padding-bottom: 15px;
}
.mandatory{
    color: red;
    padding: 5px;
    font-style: italic;
}