<ion-view view-title="E-books">
  <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
        <div ng-if="loaded ">
          <div>
            <ul class="col col-100  items-container">
              <li ng-repeat="ebooklist in ebook">
                <div class="col col-50">
                  <div class="item item-body img-fixed-height">
                    <a class="ex-link" ng-href="{{image_url}}{{ebook_container}}{{ebooklist.pdf}}"> <img ng-src="{{image_url}}{{ebooklist.cover}}" class="full-image item-image"></a>
                    <a class="ex-link item-title" ng-href="{{image_url}}{{ebook_container}}{{ebooklist.pdf}}">{{ebooklist.name}}</a>
                    <p class="item-description">{{ebooklist.description}}</p>
                    <a ng-href="{{image_url}}{{ebooklist.pdf}}" class="ex-link item-link">Download</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

      <div ng-if="error" class="loading-news" ng-class="{ 'clear': error}">
        {{error_message}}
      </div>
      <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
        Loading E-books...
      </div>

      </ion-list>
  </ion-content>
</ion-view>