<ion-view view-title="" class="header-view">
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>
<ion-content>
<!-- <ion-nav-buttons side="right">
<a href="" class="button side-button button-icon icon ion-arrow-left-c" ng-click="back()"></a>
</ion-nav-buttons> -->
  <!--<ion-content>
    <ui-gmap-google-map center='map.center' zoom='map.zoom' class="global-google-map"></ui-gmap-google-map>
  </ion-content>-->

  <ui-gmap-google-map center='map.center' zoom='map.zoom' class="global-google-map">
    <ui-gmap-marker
        idKey='marker.id'
        coords='marker.coords'
        options='marker.options'
        events='marker.events'
        >
    </ui-gmap-marker>
  </ui-gmap-google-map>
</ion-content>
</ion-view>


