<ion-side-menus delegate-handle="sideMenu" enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar bar-header bar-stable has-tabs-top">
     <!--  <ion-nav-back-button>
      </ion-nav-back-button> -->
      
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- <ion-header-bar class="bar bar-header bar-stable">
      <h1 class="title">Vitraag Vigyaan</h1>
    </ion-header-bar> -->
    <ion-content>
      <span class="item item-thumbnail-center sidebar-logo" href="#">
        <img src="img/logo.png">      
      </span>
      <ion-list class="sidebar-menu">
        <ion-item nav-clear menu-close href="#/app/News">
          <i class="ion ion-flag"> </i> 
          <span class="com-list-menu">News</span>
        </ion-item>
        <div>
          <ion-item nav-clear menu-close href="#/app/Events">
            <i class="ion ion-clipboard"></i> 
             <span class="com-list-menu"> Events </span>
          </ion-item>
        </div>
        
          <ion-item nav-clear menu-close href="#/app/satsang/Live/">
            <i class="ion ion-videocamera"></i> 
             <span class="com-list-menu"> Live Satsang </span>
          </ion-item>
        
        <!-- div ng-if="!logged_in">
          <ion-item nav-clear menu-close href="#/app/notloggedin">
            <i class="ion ion-social-youtube"></i> 
             <span class="com-list-menu"> Live Satsang </span>
          </ion-item> -->
        </div>
        
          <ion-item nav-clear menu-close href="#/app/pastSatsang">
            <i class="ion ion-social-youtube-outline"></i> 
             <span class="com-list-menu"> Past Satsang </span>
          </ion-item>

          <ion-item nav-clear menu-close href="#/app/Ebook">
            <i class="ion ion-document-text"></i> 
             <span class="com-list-menu"> E-books </span>
          </ion-item>

          <ion-item nav-clear menu-close href="#/app/Video">
            <i class="ion ion-social-youtube"></i> 
             <span class="com-list-menu"> Videos </span>
          </ion-item>
        
        <!-- <div ng-if="!logged_in">
          <ion-item nav-clear menu-close href="#/app/notloggedin">
            <i class="ion ion-social-youtube-outline"></i> 
             <span class="com-list-menu"> Past Satsang </span>
          </ion-item>
        </div> -->
        <ion-item nav-clear menu-close href="#/app/knowUs">
          <i class="ion ion-person-stalker"></i>
          <span class="com-list-menu">Know Us </span>
        </ion-item>
        <ion-item nav-clear menu-close href="#/app/ContactUs">
          <i class="ion ion-ios7-telephone ion-android-call"> </i>
           <span class="com-list-menu"> Contact us </span>
        </ion-item>
        <!-- <ion-item nav-clear menu-close href="#/app/playlists">
          Playlists
        </ion-item> -->
      </ion-list>
      <ion-list class="sidebar-menu bottom-menu">
        <!-- <div ng-if="!logged_in">
          <ion-item nav-clear menu-close href="#/app/login">
              <i class="ion ion-locked"> </i> 
              <span class="com-list-menu">Log In </span>
          </ion-item>
        </div> -->
        <!-- <div ng-if="!logged_in"> -->
          <ion-item nav-clear menu-close href="#/app/register">
            <i class="ion ion-person"> </i> 
            <span class="com-list-menu">Member Registration</span>
          </ion-item>
        <!-- </div> -->
        <!-- <div ng-if="logged_in">
          <ion-item nav-clear menu-close href="" ng-click="logout();$event.preventDefault();">
           <i class="ion ion-log-out"></i>
           <span class="com-list-menu"> LOG OUT </span>
          </ion-item>
        </div> -->
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
