<ion-view view-title="Contact Us" class="contact-wrapper">
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>
 <ion-content>
    <div class="list card">
      <div class="item item-body style='max-height:50%;'">
        <ui-gmap-google-map center='map.center' zoom='map.zoom' class="global-google-map">
    <ui-gmap-marker
        idKey='marker.id'
        coords='marker.coords'
        options='marker.options'
        events='marker.events'
        >
    </ui-gmap-marker>
  </ui-gmap-google-map>
      </div>

      <div class="item item-text-wrap">

        <img ng-src="img/icon_vv.png">&nbsp;<b> Research Centre</b><br>
        <!-- <table class="contact-us">
          <tr>
            <td width="20px">
              <i class="ion ion-person"></i>
            </td>
            <td>
              <p><b>Chief Coordinator</b> Sanjay Gala</p>
            </td>
          </tr>
          <tr>
            <td width="20px">
              <i class="ion ion-location venue location_icon_color"></i>
            </td>
            <td>
              <p>Raj Nagar, Post Gothavade, Parli,</p>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><p>Taluka Sudhagadh,Off-Khopoli-Pali Road,</p></td>
          </tr>
          <tr>
            <td></td>
            <td><p>Dist. Raigad 410205.</p></td>
          </tr>
          <tr>
            <td width="20px">
              <i class="ion ion-email"></i>
            </td>
            <td>
              <p>researchcentre@rajchandrakp.org</p>
            </td>
          </tr>
          <tr>
            <td width="20px">
              <i class="ion ion-iphone"></i>
            </td>
            <td>
              <p>+91-7303942666, +91-9820991486</p>
            </td>
          </tr>
          <tr>
            <td width="20px">
              <i class="icon ion-ios7-telephone ion-android-call"></i>
            </td>
            <td>
              <p>+91-2142-699091</p>
            </td>
          </tr>
        </table> -->
        <div class="row">
          <div class="col col-10"> <i class="ion ion-person contact-icon"></i> </div>
          <div class="col col-90 contact-content">
             <span> Chief Coordinator</span> 
             <p>Sanjay Gala </p>
          </div>
        </div>
        <div class="row">
          <div class="col col-10"> <i class="ion ion-location venue contact-icon"></i> </div>
          <div class="col col-90 contact-content">
             <p>Raj Nagar, Post Gothavade, Parli, Taluka Sudhagadh, Off-Khopoli - Pali Road, Dist. Raigad 410205.</p>
             
          </div>
        </div>
        <div class="row">
          <div class="col col-10"> <i class="ion ion-email contact-icon"></i> </div>
          <div class="col col-90 contact-content-top">
             <p><a href="mailto:researchcenter@rajchandrakp.org">researchcentre@rajchandrakp.org</a></p>
             
          </div>
        </div>
        <div class="row">
          <div class="col col-10"> <i class="ion ion-iphone contact-icon"></i> </div>
          <div class="col col-90 contact-content-top">
             <p><a href="tel:+9820991486">+91-9820991486</a></p>
             <!-- <p><a href="tel:+919820991486">+91-9820991486</a></p> -->
          </div>
        </div>
        <div class="row">
          <div class="col col-10"> <i class="icon ion-ios7-telephone ion-android-call contact-icon"></i> </div>
          <div class="col col-90 contact-content-top">
             <p><a href="tel:+912142699091">+91-2142-699091</a></p>
             
          </div>
        </div>
       <!--  <div class="contact-us">
         <p> <b><i class="ion ion-person"></i> Chief Coordinator</b> Sanjay Gala </p>
          <p><b><i class="ion ion-location venue location_icon_color"></i></b> Raj Nagar, Post Gothavade, Parli,<p>
            <p class="contact-us-add">Taluka Sudhagadh,Off-Khopoli-Pali Road, </p>
            <p class="contact-us-add">Dist. Raigad 410205.<br></p>
            <p><i class="ion ion-email"></i> researchcentre@rajchandrakp.org<br></p>
            <p><i class="ion ion-iphone"></i> +91-7303942666, +91-9820991486<br></p>
            <p><i class="icon ion-ios7-telephone ion-android-call"></i> +91-2142-699091<br>
        </div> -->
      </div>

      <div class="item item-text-wrap">

        <img ng-src="img/icon_vv.png"><b>&nbsp; Admin Office</b><br>

        <div class="row">
          <div class="col col-10"> <i class="ion ion-person contact-icon"></i> </div>
          <div class="col col-90 contact-content">
             <span> Chief Coordinator</span> 
             <p>Viral Patel</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-10"> <i class="ion ion-location venue contact-icon"></i> </div>
          <div class="col col-90 contact-content">
             <p> 702 Sharda Chambers,
15 new marine lines, Behind Income
Tax Office, Mumbai - 400020.</p>
          </div>
        </div>
        <div class="row">
          <div class="col col-10"> <i class="ion ion-email contact-icon"></i> </div>
          <div class="col col-90 contact-content-top">
             <p><a href="mailto:info@rajchandrakp.org">info@rajchandrakp.org</a></p>
             
          </div>
        </div>
        <div class="row">
          <div class="col col-10"> <i class="ion ion-iphone contact-icon"></i> </div>
          <div class="col col-90 contact-content-top">
             <p><a href="mailto:919920019903">+91-9920019903</a></p>
             
          </div>
        </div>
        <div class="row">
          <div class="col col-10"> <i class="icon ion-ios7-telephone ion-android-call contact-icon"></i> </div>
          <div class="col col-90 contact-content-top">
             <p><a href="tel:+912232542393">+91-22-32542393</a></p>
          </div>
        </div>

        <!-- <p>
          <b>Chief Coordinator</b> Sanjay Gala <br>
          <b>Address</b> 202 Ojas Building, Sarojini Naidu Road, <br>
            Mulund (W), Mumbai 400080.<br>
            <b>E-mail</b> info@rajchandrakp.org<br>
            <b>Helpline</b> +91-9920019903<br>
            <b>Tel.</b>   +91-22-22-32542393<br>
        </p> -->
      </div>
   <div class="item item-text-wrap">
   <p class="contact-title">Send us a message</p>
 </div>
 <div class="item item-text-wrap">
 <div class="list">
  <form name="userForm" class="" novalidate>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Name</span>
    <input type="text" placeholder="John" class="form-control ng-scope ng-pristine ng-valid" name="first_name" ng-model="user.first_name" ng-minlength="3" ng-maxlength="50" required>
    <div ng-show="userForm.first_name.$error.minlength" class="help-block validate">First name should be minimum 3 characters.</div>
      <div ng-show="userForm.first_name.$error.maxlength" class="help-block validate">First name should be maximum 50 characters.</div>
  </label>
  <!-- <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="Suhr" class="form-control ng-scope ng-pristine ng-valid" ame="first_name" ng-model="user.first_name" ng-minlength="3" ng-maxlength="50" required> 
    <div ng-show="userForm.first_name.$error.minlength" class="help-block validate">First name should be minimum 3 characters.</div>
      <div ng-show="userForm.first_name.$error.maxlength" class="help-block validate">First name should be maximum 50 characters.</div>
  </label> -->
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input tabindex="1" type="email" text-align="center" class="input-filter form-control ng-scope ng-pristine ng-valid" name="email" ng-model="user.email" placeholder="you@abcmail.com" required>
    <div ng-show="userForm.email.$error.email && !userForm.email.$pristine" class="help-block validate">Enter a correct email address.</div>
  </label>
  <label class="item item-input item-stacked-label">
      <span class="input-label">Mobile</span>
      <input type="text" text-align="center" placeholder="10 digit mobile number" class="form-control ng-scope ng-pristine ng-valid" name="mobile" ng-model="user.mobile" ng-pattern="/^[\+]?(\d\-?){7,12}\d$/" required>
      <div ng-show="userForm.mobile.$error.pattern && !userForm.mobile.$pristine" class="help-block validate">Enter valid mobile number</div>
   </label>
   <label class="item item-input item-stacked-label">
      <span class="input-label">Message</span>
      <textarea placeholder="" rows="3" ng-model="user.message" ng-Required="true" name="message"></textarea>
      <div ng-show="userForm.message.$error.required && !userForm.message.$pristine" class="help-block validate">Message is required</div>
   </label>
  <br>
  <button class="button button-assertive" ng-click="send_Message()" ng-disabled="userForm.$invalid">
  Send Message
</button>
</form>
</div>
</div>
 </div>
  </ion-content>
</ion-view>
