<ion-view view-title="Know Us">
<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>
 <ion-content>
    <div class="list card">
      <div class="item item-body">
        <img class="full-image" ng-src="img/know-us-img.jpg">
        <p>
          The Research Centre is dedicated towards dissemination of peace based on 'Vitraag Vigyaan' Spiritual Study. <br><br>
          ‘Vitraag Vigyaan’ respects all beliefs and embraces all philosophies, yet breaks through limiting beliefs and ideologies. With a neutral approach, Shrimad Rajchandra Aatma Tatva Research Centre provides a platform to one and all to quench their thirst for true happiness and peace.<br><br>
          The Research Centre is dedicated towards dissemination of peace based on 'Vitraag Vigyaan' Spiritual Study.The Research Centre is dedicated towards dissemination of peace based on 'Vitraag Vigyaan' Spiritual Study.
        </p>
      </div>
        </div>
        
<!--       <div class="card">
      <div class="item item-divider font_bold">
        <i class="icon ion-eye "></i> Our Vision
      </div>
      <div class="item item-text-wrap">
        <div class="row">
      <div class="col col-50">
        <img class="full-image" ng-src="img/ourVision.jpg">
         </div>
         <div class="col col-50">
          <p>
          The Vision and Mission of the Centre is to research, practice, achieve and spread awareness of the philosophy and science of Self-realisation (Aatma Gyan) and the functioning of the Universe, which leads to Eternal Peace or Mukti, i.e. liberation from bondages. This liberation has been experienced by Vitraag Bhagwants and reiterated through Shrimad Rajchandra by respecting all beliefs, faiths, practices and paths.
        </p>
         </div>
    </div>
   
      </div>
   
  </div>

  <div class="card">
      <div class="item item-divider font_bold">
        <i class="icon ion-lightbulb "></i> Our Mission
      </div>
      <div class="item item-text-wrap">
        <div class="row">
      <div class="col col-50">
        
        <p>
          The Vision and Mission of the Centre is to research, practice, achieve and spread awareness of the philosophy and science of Self-realisation (Aatma Gyan) and the functioning of the Universe, which leads to Eternal Peace or Mukti, i.e. liberation from bondages. This liberation has been experienced by Vitraag Bhagwants and reiterated through Shrimad Rajchandra by respecting all beliefs, faiths, practices and paths.
        </p>
         </div>
         <div class="col col-50">
          <img class="full-image" ng-src="img/ourMission.jpg">
         </div>
    </div>
   
      </div>
   
  </div> -->
    <div class="card">
      <div class="item item-divider font_bold">
        <i class="icon ion-eye "></i> Our Vision &amp; Mission
      </div>
      <div class="item item-text-wrap">
        <img class="common-main-img" ng-src="img/ourVision.jpg">
        <p>
          The Vision and Mission of the Centre is to research, practice, achieve and spread awareness of the philosophy and science of Self-realisation (Aatma Gyan) and the functioning of the Universe, which leads to Eternal Peace or Mukti, i.e. liberation from bondages. This liberation has been experienced by Vitraag Bhagwants and reiterated through Shrimad Rajchandra by respecting all beliefs, faiths, practices and paths.
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
