<ion-view view-title="Past Satsang">
  <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          </button>
  </ion-nav-buttons>

  <ion-content>
    <ion-list>
        <div ng-if="loaded && satsangList != '' ">
          <div ng-repeat="satsang in satsangList" class="card_height">
            <div class="list card">
              <a href="#/app/satsang/Past/{{satsang.id}}" class="no_underline">
                <div class="item item-avatar">
                    <img ng-src="img/pastSatsang.png">

                    <div class="leftpadding"> 
                      <h2>{{satsang.title}}</h2>
                      <i ng-if="satsang.description != ''"><h3 class="shortdesc1" ng-bind-html="satsang.description | externalLinks"></h3></i>
                      <span class="event-status">{{satsang.satsang_date | amDateFormat:'ddd, Do  MMMM , YYYY'}}</span>
                   </div>
                </div>
              </a>
            </div>
          </div>
        </div>

      <div ng-if="error" class="loading-news" ng-class="{ 'clear': error}">
        {{error_message}}
      </div>
      <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
        Loading past satsang videos...
      </div>

      </ion-list>
  </ion-content>
</ion-view>
