<ion-view view-title={{title}}>

<ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
</ion-nav-buttons>

  <ion-content>

    <div ng-if="loaded && (type !== '' && type !== undefined) ">
      <div ng-if="satsang != '' ">
        <div class="card">
           <!--  <iframe width="100%" height="100%" scrolling="no" frameborder="no" ng-src="{{satsang.link_name}}" frameborder="0" allowfullscreen style="min-height: 400px;">
            </iframe> -->
            <iframe width="340" height="450" src="{{satsang.link_name | trusted}}" frameborder="0" allowfullscreen></iframe>

          <div class="item item-body">
            <span class="event-title">{{satsang.title}}</span>
            <p ng-if="satsang.description != ''">{{satsang.description}}</p>

            <div ng-if="satsang_date != ''">
              <div class="row">
                <div class="col col-10 icon-display"> 
                  <i class="ion-calendar"></i>
                </div>
                <div class="col col-90 contact-content">
                   <span>
                      {{satsang.satsang_date | amDateFormat:'Do  MMMM, YYYY'}}
                    </span>
                </div>
              </div>
            </div>

            <div ng-if="type != 'Past'">
              <div class="row">
                <div class="col col-10 icon-display"> 
                  <i class="ion-clock"></i>
                </div>
                <div class="col col-90 contact-content">
                   <span>
                      {{satsang.from_time}} - {{satsang.to_time}}
                    </span>
                </div>
              </div>
            </div>

            <div>
              <div class="row">
                <div class="col col-10 icon-display"> 
                  <i class="ion-location" style="margin-left:-6px;"></i>
                </div>
                <div class="col col-90 contact-content">
                   <span>
                      <i ng-if="address_line1 != ''">{{satsang.address_line1}}</i>
                      <i ng-if="address_line2 != ''">, {{satsang.address_line2}}</i>
                      <i ng-if="city_name != ''">, {{satsang.city_name}}</i>
                      <i ng-if="state_name != ''">, {{satsang.state_name}}.</i>
                    </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="type == 'Live' && announcements_list != ''">
          <div class="list card">
            <div class="item item-divider announcement_header">
              <i class="ion-volume-high"></i> &nbsp;Announcements
            </div>
            <div ng-repeat="annoucemnet in announcements_list" class="announcement1">
              <div class="item item-text-wrap announcement">
                <h2 style="margin-top:-10px;">{{annoucemnet.announcement_title}}</h2>
                <p style="">{{annoucemnet.details}}</p>
              </div>
            </div>
          </div>
        </div>

        <div ng-if="type == 'Live'">
          <div class="list card">
            <div class="item item-divider announcement_header">
              <i class="ion-help-circled"></i> &nbsp;Ask A Question
            </div>
            <div class="item item-text-wrap">

                <form name="userForm" class="" ng-model="satsang_question" novalidate>
                  <div class="small-form-container login-form-container">

                    <label class="item item-input item-stacked-label">
                        <span class="input-label">Your Question ?</span>
                        <input type="text" text-align="center" class="input-filter form-control ng-scope ng-pristine ng-valid" name="question" ng-model="satsang_question.question" placeholder="" required>               
                       <!--  <div ng-show= class="help-block validate">Please type a question or query you want to ask.</div> -->
                    </label>

                    <div class="col">
                      <button class="button button-block button-assertive" ng-click="askquestion(satsang_question.question)" ng-disabled="userForm.$invalid" submit="">
                        SEND
                      </button>
                    </div>
                  </div>
                </form>

            </div>
          </div>
        </div>

      </div>
    </div>
    
    <div ng-if="error" class="loading-news" ng-class="{ 'clear': error}">
        {{message}}
    </div>
    <div ng-if="!loaded" class="loading-news" ng-class="{ 'clear': error}">
      Loading satsang video...
    </div>

  </ion-content>
</ion-view>
